@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sidebarbg: #161821;
  --color-explorerbg: #1e1f2b;
  --color-contentbg: #282a3a;

  --color-sidebarbgd: #ded5d0;
  --color-explorerbgd: #eee5de;
  --color-contentbgd: #f8efe7;
}
